.banner {
    display: flex;
    margin-left: -40px;
}
.col-6 {
    position: relative;
    width: 50%;
    margin-left: 40px;
}
.more-banner {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 184px;
    font-size: 18px;
    text-transform: uppercase;
    height: 56px;
    background: #FFFFFF;
    opacity: 0.9;
    border-radius: 2px;
    letter-spacing: 2%;
}


@media (max-width: 480px) {
    .col-6 {
        width: 100%;
        margin: 0 0 20px 0;
    }
    .banner {
        flex-wrap: wrap;
        margin: 0;
    }
}