.Advertisement {
    position: relative;
    padding-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: absolute;
}
.content-heading {
    display: flex;
}
.title {
    margin: 0 16px 0 0;
}

.desc {
    margin: 8px 0 24px 0;
}
.btn-link {
    width: 165px;
    height: 56px;
    background-color: #090726;
    border: 1px solid #090726;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
@media (max-width: 820px) {
    .btn-link {
        width: 128px;
        height: 35px;
        border-radius: 5px;
    }
    .desc {
        margin-bottom: 15px;
    }
}


@media (max-width: 600px) {
    .Advertisement img {
        height: 200px;
    }
}